@import "variables";

// reset
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  padding: 10px;

  background-color: $primary-dark;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

canvas {
  border: 2px solid $arena-border;
  background-color: $arena-color;
}
